<div class="body-preloader">
    <div class="foxic-body-loader">
        <svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M39.3389 8.03782C37.8786 5.39864 36.0316 3.17549 34.1105 1.75082C31.8419 0.0685235 29.5694 -0.422187 27.7122 0.368813C26.4892 0.889426 25.5607 1.9052 24.9794 3.33626C23.0707 2.85907 21.106 2.84849 19.1901 3.30787C18.607 1.89193 17.6822 0.885898 16.4686 0.369149C14.6242 -0.416811 12.3678 0.0623077 10.1146 1.71814C8.21489 3.11409 6.38114 5.29709 4.92213 7.89293C2.00566 9.42915 0.0825195 12.4285 0.0825195 15.811C0.0825195 20.03 3.07119 23.6161 7.15908 24.559C6.30129 31.7033 6.34882 31.2684 6.34882 31.3824C6.34882 38.2452 15.0951 43 22.0326 43C28.9542 43 37.7164 38.2565 37.7164 31.3824C37.7164 31.2653 37.7598 31.6759 36.905 24.5432C40.9478 23.5797 43.9172 20.0218 43.9172 15.811C43.9173 12.5873 42.1733 9.64502 39.3389 8.03782ZM2.66112 15.811C2.66112 13.3362 4.13809 11.0445 6.42394 9.97269C6.67285 9.85594 6.8769 9.66426 7.00591 9.42571C8.32121 6.99508 9.97559 4.97302 11.6643 3.73197C12.5204 3.10292 14.149 2.12956 15.4384 2.67898C16.0757 2.95029 16.4911 3.53735 16.7626 4.16178C12.104 6.35116 8.92794 10.8048 8.16126 16.2276C8.15576 16.2663 7.88845 18.4867 7.46283 22.0313C4.68955 21.2506 2.66112 18.7203 2.66112 15.811ZM22 29.9308L20.0632 28.3407C19.6745 28.0215 19.649 27.6045 19.7547 27.3208C19.8288 27.122 20.0404 26.7886 20.6248 26.7886H23.3752C23.9595 26.7886 24.1706 27.1211 24.2446 27.3193C24.3506 27.6038 24.3254 28.0216 23.9367 28.3407L22 29.9308ZM23.2892 40.4213V32.1634L25.5954 30.27C28.0754 28.2337 26.7617 24.2686 23.3752 24.2686C19.5959 24.2686 20.8786 24.2656 20.6053 24.2686C17.2356 24.2845 15.9271 28.2358 18.4046 30.27L20.7107 32.1634V40.4153C15.1123 39.8819 8.98905 36.0906 8.92794 31.4522C10.5463 17.9695 10.7075 16.6347 10.71 16.6103C11.4801 12.1636 14.3401 7.68067 18.6396 6.09338C18.8909 6.03508 21.7342 4.78916 25.2969 6.05885C25.3456 6.08044 25.3966 6.09825 25.4487 6.11404C29.258 7.54107 32.2808 11.306 33.2826 16.2283C33.494 17.6761 33.3453 16.5212 35.1376 31.4522C35.076 36.1087 28.9052 39.9114 23.2892 40.4213ZM36.6023 22.0175C36.416 20.4644 35.9252 16.3004 35.8189 15.7734C34.8499 10.9646 31.9354 6.3872 27.3975 4.21075C27.6685 3.56624 28.0887 2.95701 28.7421 2.6789C30.0434 2.12494 31.6875 3.11719 32.5518 3.75809C34.2509 5.01805 35.9084 7.06094 37.2211 9.51239C37.3412 9.75254 37.5372 9.95077 37.7824 10.0759C39.976 11.1959 41.3387 13.3934 41.3387 15.8108C41.3388 18.7426 39.3741 21.2269 36.6023 22.0175Z"
                    fill="#272727"></path>
                <path
                    d="M16.7294 14.8169C16.0174 14.8169 15.4402 15.381 15.4402 16.0768V17.5576C15.4402 18.2535 16.0174 18.8176 16.7294 18.8176C17.4415 18.8176 18.0187 18.2535 18.0187 17.5576V16.0768C18.0187 15.3809 17.4415 14.8169 16.7294 14.8169Z"
                    fill="#272727"></path>
                <path
                    d="M26.5783 14.8169C25.8663 14.8169 25.2891 15.381 25.2891 16.0768V17.5576C25.2891 18.2535 25.8663 18.8176 26.5783 18.8176C27.2903 18.8176 27.8676 18.2535 27.8676 17.5576V16.0768C27.8676 15.3809 27.2903 14.8169 26.5783 14.8169Z"
                    fill="#272727"></path>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="44" height="43" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
        <div class="preloader-circle-1">
            <div class="preloader-circle-2">
                <div class="preloader-circle-3"></div>
            </div>
        </div>
    </div>
</div>
<header class="hdr-wrap">
    <div class="hdr-content hdr-content-sticky">
        <div class="container">
            <div class="row">
                <div class="col-auto show-mobile">
                    <div class="menu-toggle"> <a href="/" class="mobilemenu-toggle"><i class="icon-menu"></i></a>
                    </div>
                </div>
                <div class="col-auto hdr-logo">
                    <a href="/" class="logo"><img srcset="{{webpageGeneral.webIcon}}"
                            alt="{{webpageGeneral.webName}} Logo"></a>
                </div>
                <div class="hdr-nav hide-mobile nav-holder-s">
                </div>
                <div class="hdr-links-wrap col-auto ml-auto">
                    <div class="hdr-inline-link">
                        <div class="search_container_desktop">
                            <div class="dropdn dropdn_search dropdn_fullwidth">
                                <a href="/" class="dropdn-link  js-dropdn-link only-icon"><i
                                        class="icon-search"></i><span class="dropdn-link-txt">Arama</span></a>
                                <div class="dropdn-content">
                                    <div class="container">
                                        <form method="get" action="#" class="search search-off-popular">
                                            <input name="search" type="text" class="search-input input-empty"
                                                placeholder="Aradığınız ürünü giriniz.?">
                                            <button type="submit" class="search-button"><i
                                                    class="icon-search"></i></button>
                                            <a href="/" class="search-close js-dropdn-close"><i
                                                    class="icon-close-thin"></i></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="dropdn dropdn_wishlist">
                            <a href="account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
                                <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                    class="wishlist-qty">3</span>
                            </a>
                        </div> --}}
                        <div class="dropdn dropdn_account dropdn_fullheight">
                            <a href="/" class="dropdn-link js-dropdn-link js-dropdn-link only-icon"
                                data-panel="#dropdnAccount"><i class="icon-user"></i><span
                                    class="dropdn-link-txt">Profil</span></a>
                        </div>
                        <div class="dropdn dropdn_fullheight minicart">
                            <a href="/" class="dropdn-link js-dropdn-link minicart-link only-icon"
                                data-panel="#dropdnMinicart">
                                <i class="icon-fishing-net"></i>
                                <span class="minicart-qty">{{cartTotals.totalQuantity}}</span>
                                <span class="minicart-total hide-mobile">₺{{cartTotals.totalPrice}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hdr">
        <div class="hdr-content">
            <div class="container">
                <div class="row">
                    <div class="col-auto show-mobile">
                        <div class="menu-toggle"> <a href="/" class="mobilemenu-toggle"><i class="icon-menu"></i></a>
                        </div>
                    </div>
                    <div class="col-auto hdr-logo">
                        <a href="/" class="logo"><img srcset="{{webpageGeneral.webIcon}}"
                                alt="{{webpageGeneral.webName}} Logo"></a>
                    </div>
                    <div class="hdr-nav hide-mobile nav-holder justify-content-center px-4">
                        <ul class="mmenu mmenu-js">
                            <li><a href="/">Ana Sayfa</a></li>
                            {{#each navbarCategories}}
                            <li><a href="/kategori/{{_id}}">{{categoryName}} </a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="hdr-links-wrap col-auto ml-auto">
                        <div class="hdr-inline-link">
                            <div class="search_container_desktop">
                                <div class="dropdn dropdn_search dropdn_fullwidth">
                                    <a href="/" class="dropdn-link  js-dropdn-link only-icon"><i
                                            class="icon-search"></i><span class="dropdn-link-txt">Arama</span></a>
                                    <div class="dropdn-content">
                                        <div class="container">
                                            <form method="get" action="#" class="search search-off-popular">
                                                <input name="search" type="text" class="search-input input-empty"
                                                    placeholder="Aradığınız ürünü giriniz.?">
                                                <button type="submit" class="search-button"><i
                                                        class="icon-search"></i></button>
                                                <a href="/" class="search-close js-dropdn-close"><i
                                                        class="icon-close-thin"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="dropdn dropdn_wishlist">
                                <a href="account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
                                    <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                        class="wishlist-qty">3</span>
                                </a>
                            </div> --}}
                            <div class="hdr_container_mobile show-mobile">
                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a href="/" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i
                                            class="icon-user"></i><span class="dropdn-link-txt">Profil</span></a>
                                </div>
                            </div>
                            <div class="dropdn dropdn_fullheight minicart">
                                <a href="/" class="dropdn-link js-dropdn-link minicart-link"
                                    data-panel="#dropdnMinicart">
                                    <i class="icon-basket"></i>
                                    <span class="minicart-qty">{{cartTotals.totalQuantity}}</span>
                                    <span class="minicart-total hide-mobile">₺{{cartTotals.totalPrice}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-side-panel">
    <div class="mobilemenu js-push-mbmenu">
        <div class="mobilemenu-content">
            <div class="mobilemenu-close mobilemenu-toggle">Kapat</div>
            <div class="mobilemenu-scroll">
                <div class="mobilemenu-search"></div>
                <div class="nav-wrapper show-menu">
                    <div class="nav-toggle">
                        <span class="nav-back"><i class="icon-angle-left"></i></span>
                        <span class="nav-title"></span>
                        <a href="/" class="nav-viewall">Hepsini Gör</a>
                    </div>
                    <ul class="nav nav-level-1">
                        <li><a href="/">Ana Sayfa</a></li>
                        {{#each navbarCategories}}
                        <li><a href="/kategori/{{_id}}">{{categoryName}} </a></li>
                        {{/each}}

                    </ul>
                </div>
                <div class="mobilemenu-bottom">
                    <div class="mobilemenu-currency">
                        <div class="dropdn_currency">
                            <div class="dropdn dropdn_caret">
                                <a href="/" class="dropdn-link js-dropdn-link">Türk Lirası<i
                                        class="icon-angle-down"></i></a>
                                <div class="dropdn-content">
                                    <ul>
                                        <li class="active"><a href="/"><span>Türk Lirası</span></a></li>
                                        <li><a href="/"><span>Euro</span></a></li>
                                        <li><a href="/"><span>UK pounds</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobilemenu-language">
                        <div class="dropdn_language">
                            <div class="dropdn dropdn_language dropdn_language--noimg dropdn_caret">
                                <a href="/" class="dropdn-link js-dropdn-link"><span
                                        class="js-dropdn-select-current">Türkçe</span><i
                                        class="icon-angle-down"></i></a>
                                <div class="dropdn-content">
                                    <ul>
                                        <li class="active"><a href="/"><img src="/foxic/images/flags/en.webp"
                                                    alt="">Türkçe</a></li>
                                        <li><a href="/"><img src="/foxic/images/flags/sp.webp" alt="">Spanish</a></li>
                                        <li><a href="/"><img src="/foxic/images/flags/de.webp" alt="">German</a></li>
                                        <li><a href="/"><img src="/foxic/images/flags/fr.webp" alt="">French</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdn-content account-drop" id="dropdnAccount">
        <div class="dropdn-content-block">
            <div class="dropdn-close"><span class="js-dropdn-close">Kapat</span></div>
            <ul>
                <li><a href="account-create.html"><span>Giriş Yap</span><i class="icon-login"></i></a></li>
                <li><a href="account-create.html"><span>Kayıt Ol</span><i class="icon-user2"></i></a></li>
                <li><a href="/sepet"><span>Sepeti Görüntüle</span><i class="icon-card"></i></a></li>
            </ul>
            <div class="dropdn-form-wrapper">
                <h5>Hızlı Giriş</h5>
                <form action="/girisyap" method="POST">
                    <div class="form-group">
                        <input name="userMail" type="text" class="form-control form-control--sm is-invalid" placeholder="Mail adresi">
                        <div class="invalid-feedback">Lütfen doldurunuz.</div>
                    </div>
                    <div class="form-group">
                        <input name="userPassword" type="password" class="form-control form-control--sm" placeholder="Şifre">
                    </div>
                    <button type="submit" class="btn">Giriş Yap</button>
                </form>
            </div>
        </div>
        <div class="drop-overlay js-dropdn-close"></div>
    </div>
    <div class="dropdn-content minicart-drop" id="dropdnMinicart">
        <div class="dropdn-content-block">
            <div class="dropdn-close"><span class="js-dropdn-close">Kapat</span></div>
            <div class="minicart-drop-content js-dropdn-content-scroll">
                {{#each shoppingcart.items}}
                <div class="minicart-prd row">
                    <div class="minicart-prd-image image-hover-scale-circle col">
                        <a href="/urun/{{productName._id}}"><img class="lazyload fade-up"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{{productName.image.[0]}}" alt=""></a>
                    </div>
                    <div class="minicart-prd-info col">
                        {{!-- <div class="minicart-prd-tag">{{categoryName}}</div> --}}
                        <h2 class="minicart-prd-name"><a href="/urun/{{productName._id}}">{{productName.productName}}</a></h2>
                        <div class="minicart-prd-qty"><span class="minicart-prd-qty-label">Adet:</span><span
                                class="minicart-prd-qty-value">{{quantity}}</span></div>
                        <div class="minicart-prd-price prd-price">
                            <div class="price-old">₺{{productName.oldPrice}}</div>
                            <div class="price-new">₺{{productName.newPrice}}</div>
                        </div>
                    </div>
                    <div class="minicart-prd-action">
                        <a href="/" class="js-product-remove" data-line-number="2"><i class="icon-recycle"></i></a>
                    </div>
                </div>
                {{/each}}
                <div class="minicart-empty js-minicart-empty d-none">
                    <div class="minicart-empty-text">Sepetiniz Boş</div>
                    <div class="minicart-empty-icon">
                        <i class="icon-shopping-bag"></i>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 262"
                            style="enable-background:new 0 0 306 262;" xml:space="preserve">
                            <path class="st0"
                                d="M78.1,59.5c0,0-37.3,22-26.7,85s59.7,237,142.7,283s193,56,313-84s21-206-69-240s-249.4-67-309-60C94.6,47.6,78.1,59.5,78.1,59.5z" />
                        </svg>
                    </div>
                </div>
                {{!-- <a href="/" class="minicart-drop-countdown mt-3">
                    <div class="countdown-box-full">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto"><i class="icon-gift icon--giftAnimate"></i></div>
                            <div class="col">
                                <div class="countdown-txt">WHEN BUYING TWO
                                    THINGS A THIRD AS A GIFT
                                </div>
                                <div class="countdown js-countdown" data-countdown="2021/07/01"></div>
                            </div>
                        </div>
                    </div>
                </a> --}}
                {{!-- <div class="minicart-drop-info d-none d-md-block">
                    <div class="shop-feature-single row no-gutters align-items-center">
                        <div class="shop-feature-icon col-auto"><i class="icon-truck"></i></div>
                        <div class="shop-feature-text col"><b>SHIPPING!</b> Continue shopping to add more products
                            and receive free shipping</div>
                    </div>
                </div> --}}
            </div>
            <div class="minicart-drop-fixed js-hide-empty">
                <div class="loader-horizontal-sm js-loader-horizontal-sm" data-loader-horizontal=""><span></span>
                </div>
                <div class="minicart-drop-total js-minicart-drop-total row no-gutters align-items-center">
                    <div class="minicart-drop-total-txt col-auto heading-font">Toplam</div>
                    <div class="minicart-drop-total-price col" data-header-cart-total="">₺{{cartTotals.totalPrice}}
                    </div>
                </div>
                <div class="minicart-drop-actions">
                    <a href="/sepet" class="btn btn--md btn--grey"><i class="icon-basket"></i><span>Sepeti
                            Görüntüle</span></a>
                    <a href="/odeme" class="btn btn--md"><i class="icon-checkout"></i><span>Ödemeye Geç</span></a>
                </div>
                <ul class="payment-link mb-2">
                    <li><i class="icon-amazon-logo"></i></li>
                    <li><i class="icon-visa-pay-logo"></i></li>
                    <li><i class="icon-skrill-logo"></i></li>
                    <li><i class="icon-klarna-logo"></i></li>
                    <li><i class="icon-paypal-logo"></i></li>
                    <li><i class="icon-apple-pay-logo"></i></li>
                </ul>
            </div>
        </div>
        <div class="drop-overlay js-dropdn-close"></div>
    </div>
</div>