<div class="page-content">
		<div class="holder mt-0 fullwidth full-nopad">
			<div class="container">
				<div class="bnslider-wrapper">
					<div class="bnslider bnslider--lg keep-scale" id="bnslider-01" data-start-width='1920'
						data-start-height='806' data-start-mwidth='800' data-start-mheight='470'>
						<div class="bnslider-slide">
							<div class="bnslider-image lazyload fade-up-fast"
								data-bgset="/foxic/images/slide-lingerie-01.webp"></div>
							<div class="bnslider-text-wrap bnslider-overlay">
								<div class="bnslider-text-content txt-middle txt-center txt-middle-m txt-center-m">
									<div class="bnslider-text-content-flex  container ">
										<div class="bnslider-vert w-s-50 w-ms-100" style="padding: 0px">
											<div class="bnslider-text order-1 mt-0 bnslider-text--xxs text-center data-ini"
												data-animation="fadeInUp" data-animation-delay="800"
												data-fontcolor="#2e343f" data-bgcolor="rgba(0,0,0,0)"
												data-fontweight="600" data-fontline="2" data-otherstyle=""
												style="line-height: 2em; font-weight: 600; background-color: rgba(0, 0, 0, 0); color: rgb(46, 52, 63); opacity: 1;">
												BEST PROPOSITION</div>
											<div class="bnslider-text order-2 mt-sm bnslider-text--lg text-center heading-font data-ini"
												data-animation="fadeInUp" data-animation-delay="1000"
												data-fontcolor="#2e343f" data-bgcolor="rgba(0,0,0,0)"
												data-fontweight="500" data-fontline="1.00" data-otherstyle=""
												style="line-height: 1em; font-weight: 500; background-color: rgba(0, 0, 0, 0); color: rgb(46, 52, 63); opacity: 1;">
												EXLUSIVE<br>DESIGN</div>
											<div class="btn-wrap text-center  order-4 mt-lg" data-animation="fadeIn"
												data-animation-delay="2000" style="opacity: 1;">
												<a href="../../collections.html" target="_self" class="btn"
													tabindex="0">
													SHOP NOW
												</a>
											</div>
											<div class="bnslider-vert-bg"
												style="background: rgba(0,0,0,0) ; opacity: 0.0; border-radius: 0px">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder holder-mt-xsmall">
			<div class="container-fluid px-0">
				<div class="row bnr-grid vert-margin-small">
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddFirstImageLink}}" target="_self" class="bnr-wrap">
							<div class="bnr custom-caption image-hover-scale bnr--bottom bnr--center"
								data-fontratio=5.7>
								<div class="bnr-img image-container" style="padding-bottom: 85.318%">
									<img data-srcset="{{webpage.webMainPageAddFirstImage}}"
										class="lazyload fade-up" alt="">
								</div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-caption-bg" style="padding: 6% 6%; width: fit-content;">
										<div class="bnr-text3 mt-sm order-1 inherit"
											style="color:#fd5397; font-size:0.15em; font-weight:700; line-height:1em">
											{{webpage.webMainPageAddFirstImageTopText}}</div>
										<div class="bnr-text3 heading-font mt-sm order-2 inherit"
											style=" color:#2e343f; font-size:0.225em; font-weight:800; line-height:1em;">
											{{webpage.webMainPageAddFirstImageMainText}}</div>
										<span class="bnr-caption-bg-color" style="background:#fff; opacity:1"></span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddSecondImageLink}}" target="_self" class="bnr-wrap d-flex align-items-center h-100">
							<div class="bnr custom-caption image-hover-scale bnr--middle bnr--center "
								data-fontratio=5.7>
								<div class="bnr-img image-container" style="padding-bottom: 85.318%">
									<img data-srcset="{{webpage.webMainPageAddSecondImage}}"
										class="lazyload fade-up" alt="">
								</div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-caption-bg" style="padding: 11% 11%; width: fit-content;">
										<div class="bnr-text3 mt-sm order-1 inherit"
											style=" color:#fff; font-size:0.15em; font-weight:700; line-height:1em">{{webpage.webMainPageAddSecondImageTopText}}</div>
										<div class="bnr-text3 heading-font mt-sm order-2 inherit"
											style=" color:#fff; font-size:0.45em; font-weight:700; line-height:1.1em;">{{webpage.webMainPageAddSecondImageMainText}}</div>
										<span class="bnr-caption-bg-color"
											style="background:#fd5397; opacity:0.8"></span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddThirdImageLink}}" target="_self" class="bnr-wrap">
							<div class="bnr custom-caption image-hover-scale bnr--bottom bnr--center "
								data-fontratio=5.7>
								<div class="bnr-img  image-container" style="padding-bottom: 85.318%">
									<img data-srcset="{{webpage.webMainPageAddThirdImage}}"
										class="lazyload fade-up" alt="">
								</div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-caption-bg" style="padding: 6% 6%; width: fit-content;">
										<div class="bnr-text3 mt-sm order-1 inherit"
											style=" color:#fd5397; font-size:0.15em; font-weight:700; line-height:1em">
											{{webpage.webMainPageAddThirdImageTopText}}</div>
										<div class="bnr-text3 heading-font mt-sm order-2 inherit"
											style=" color:#2e343f; font-size:0.225em; font-weight:800; line-height:1em;">
											{{webpage.webMainPageAddThirdImageMainText}}</div>
										<span class="bnr-caption-bg-color" style="background:#fff; opacity:1"></span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		{{>sections/producs}}
		{{!-- <div class="holder holder-mt-medium">
			<div class="container-fluid px-0">
				<div class="d-md-none">
					<div class="title-wrap title-sm text-center  title-with-behind ">
						<h2 class="h2-style mb-0">Our Lookbook</h2>
						<div class="h-behind"></div>
						<div class="h-sub maxW-825 h-sub--first custom-color">SALE 15% OFF</div>
					</div>
				</div>
				<div class="row vert-margin">
					<div class="col">
						<div class="lookbook-bnr d-flex justify-content-center align-items-center">
							<div class="lookbook-bnr-text d-none d-md-block">
								<div class="title-wrap text-center  title-with-behind ">
									<h2 class="h1-style mb-0">Our Lookbook</h2>
									<div class="h-behind"></div>
									<div class="h-sub maxW-825 h-sub--first">SALE 15% OFF</div>
								</div>
								<div class="text-center">
									<div class="btn-wrap ">
										<a href="/" target="" class="btn">
											SHOP NOW
										</a>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-image image-container w-100" style="padding-bottom: 42.604%">
								<img class="fade-up w-100 lazyload"
									data-src="/foxic/images/skins/lingeries/lookbook-lingerie.webp" alt="">
							</div>
							<div class="lookbook-bnr-point" style="left: 30%; top: 34%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-01.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Burgundy Demi Cup Lingerie Set"
													href="product.html">Burgundy Demi Cup Lingerie Set</a></h2>
											<div class="prd-price">
												<div class="price-new">from $125</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-point" style="left: 12%; top: 54%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-02.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Lace Underwired Non-Pad Bra Set"
													href="product.html">Lace Underwired Non-Pad Bra Set</a></h2>
											<div class="prd-price">
												<div class="price-new">from $89</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-point" style="left: 49%; top: 80%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-03.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Blue &amp; Pink Strings Knickers"
													href="product.html">Blue &amp; Pink Strings Knickers</a></h2>
											<div class="prd-price">
												<div class="price-new">$99</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-point" style="left: 26%; top: 72%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-04.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Black Willa Lips Set"
													href="product.html">Black Willa Lips Set</a></h2>
											<div class="prd-price">
												<div class="price-old">$69</div>
												<div class="price-new">$59</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-point" style="left: 70%; top: 50%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-05.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Lace Trim Satin Cami PJ Set"
													href="product.html">Lace Trim Satin Cami PJ Set</a></h2>
											<div class="prd-price">
												<div class="price-old">$499</div>
												<div class="price-new">$429</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="lookbook-bnr-point" style="left: 86%; top: 63%;">
								<span data-toggle="popover" class="lookbook-popup-btn-lg" data-original-title=""
									title=""><i class="icon-close-bold"></i></span>
								<div class="lookbook-popup js-popover-content">
									<div class="prd-lookbook d-flex flex-column">
										<a href="product.html" class="prd-img" title="Product Title">
											<img class="fade-up w-100 lazyload"
												data-src="/foxic/images/skins/lingeries/products/product-lookbook-06.webp"
												alt="">
										</a>
										<div class="prd-info">
											<h2 class="prd-title"><a title="Sports Underwire Bra"
													href="product.html">Sports Underwire Bra</a></h2>
											<div class="prd-price">
												<div class="price-new">$229</div>
											</div>
											<form method="post" action="#">
												<button class="btn js-select-add-to-cart">Select Options</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center d-md-none">
					<div class="btn-wrap mt-3">
						<a href="/" target="" class="btn">SHOP NOW</a>
					</div>
				</div>
			</div>
		</div> --}}
		{{!-- <div class="holder global_width">
			<div class="container">
				<div class="title-wrap title-sm text-center">
					<h2 class="h2-style mb-0">Special Occasion</h2>
					<div class="h-sub maxW-825 h-sub--first">TRENDY LUXURY</div>
				</div>
				<div class="prd-grid prd-promo-carousel data-to-show-3 js-prd-promo-carousel">
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-hover-scale image-container">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/lingeries/products/product-05-1.webp"
										alt="Burgundy Demi Cup Lingerie Set" class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-squared-labels">
										<div class="label-sale"><span>-10% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-rating"><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
										</div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Burgundy Demi Cup Lingerie Set</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
									<div class="prd-action">
										<form action="#">
											<button class="btn js-prd-addtocart"
												data-product='{"name": "Burgundy Demi Cup Lingerie Set", "path":"/foxic/images/skins/lingeries/products/product-05-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
												To Cart</button>
										</form>
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div class="prd-hide-mobile"><a href="/"
												class="circle-label-qview js-prd-quickview"
												data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 180</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Burgundy Demi Cup Lingerie Set", "path":"/foxic/images/skins/lingeries/products/product-05-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-hover-scale image-container">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/lingeries/products/product-06-1.webp"
										alt="Beauty Lace Lingerie Set" class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-squared-labels">
										<div class="label-new"><span>New</span></div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-rating"><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
										</div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Beauty Lace Lingerie Set</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
									<div class="prd-action">
										<form action="#">
											<button class="btn js-prd-addtocart"
												data-product='{"name": "Beauty Lace Lingerie Set", "path":"/foxic/images/skins/lingeries/products/product-06-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
												To Cart</button>
										</form>
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div class="prd-hide-mobile"><a href="/"
												class="circle-label-qview js-prd-quickview"
												data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-new">$ 180</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Beauty Lace Lingerie Set", "path":"/foxic/images/skins/lingeries/products/product-06-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-hover-scale image-container">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/lingeries/products/product-07-1.webp"
										alt="Valentine's Day Lingerie Set" class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-squared-labels">
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-rating"><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
												class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
										</div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Valentine's Day Lingerie Set</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
									<div class="prd-action">
										<form action="#">
											<button class="btn js-prd-addtocart" data-product='{"name": "Valentine' s
												Day Lingerie Set", "path"
												:"/foxic/images/skins/lingeries/products/product-07-1.webp", "url"
												:"product.html", "aspect_ratio" :0.778}'>Add To Cart</button>
										</form>
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div class="prd-hide-mobile"><a href="/"
												class="circle-label-qview js-prd-quickview"
												data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-new">$ 180</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart" data-product='{"name": "Valentine'
													s Day Lingerie Set", "path"
													:"/foxic/images/skins/lingeries/products/product-07-1.webp", "url"
													:"product.html", "aspect_ratio" :0.778}'>Add To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> --}}
		{{!-- <div class="holder holder-mt-medium fullwidth full-nopad holder-with-bg pt-0 pb-0 bg-cover"
			style="background-color: #fbfbfb">
			<div class="container">
				<div class="row justify-content-md-center no-gutters">
					<div
						class="d-flex align-items-center justify-content-center  col-18 col-md-9  text-center bg-center-all lazyloaded">
						<img data-srcset="/foxic/images/skins/lingeries/image-lingerie-01.webp" class="lazyload fade-up"
							alt="">
					</div>
					<div class="col-18 col-md-9 mt-md-0 text-center d-flex align-items-center">
						<div class="w-100" style="padding: 10% 5%;">
							<div class="title-wrap title-sm text-center mb-3  ">
								<h2 class="h2-style mb-0">Sport Collection 15% Off</h2>
								<div class="h-sub maxW-825 h-sub--first">DEAL OF THE WEEK</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius laoreet
								imperdiet.<br>Nullam iaculis odio ac urna blandit tempor. Etiam libero dui, tempor et
								turpis ut, venenatis varius odio.</p>
							<div class="btn-wrap mt-3">
								<a href="../../collections.html" target="" class="btn">
									Read More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder mt-0 fullwidth full-nopad holder-with-bg pt-0 pb-0 bg-cover"
			style="background-color: #fbfbfb">
			<div class="container">
				<div class="row justify-content-md-center flex-column-reverse flex-md-row no-gutters">
					<div class="col-18 col-md-9 mt-md-0 text-center d-flex align-items-center">
						<div class="w-100" style="padding: 9% 5%;">
							<div class="title-wrap title-sm text-center mb-3  ">
								<h2 class="h2-style mb-0">Get Ready For Summer!</h2>
								<div class="h-sub maxW-825 h-sub--first">NEW TRENDS</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius laoreet
								imperdiet.<br>Nullam iaculis odio ac urna blandit tempor. Etiam libero dui, tempor et
								turpis ut, venenatis varius odio.</p>
							<div class="btn-wrap mt-3">
								<a href="/" target="" class="btn">
									Read More
								</a>
							</div>
						</div>
					</div>
					<div class="col-18 col-sm-9 justify-content-center">
						<div class="video-wrap-content w-100 js-video-wrap is-playing">
							<video class="js-video-content" playsinline="" autoplay="" loop="" muted=""
								preload="metadata" poster="">
								<source
									src="https://cdn.shopify.com/s/files/1/0505/5525/7032/files/lingerie.mp4?v=1607177170"
									type="video/mp4">
							</video>
							<div class="video-control visible">
								<div class="video-play js-video-play"><i class="icon-play"></i></div>
								<div class="video-stop js-video-stop"><i class="icon-pause"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder holder-mt-medium ">
			<div class="container">
				<div class="post-prws post-prws-carousel post-prws--row js-post-prws-carousel post-prws-carousel--style3"
					data-slick='{"slidesToShow": 3, "arrows": false, "dots": true,  "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 2 }},{"breakpoint": 480,"settings": {"slidesToShow": 1 }}]}'>
					<div class="post-prw-vert post-prw-vert--style2 col text-center align-items-center"><a
							href="blog.html" class="post-prw-img image-hover-scale">
							<img data-srcset="/foxic/images/skins/lingeries/blog/blog-01.webp" class="lazyload fade-up" alt="">
						</a>
						<h4 class="h2-style"><a href="blog.html">Home Style Edit: Soft & Sumptuous</a></h4>
						<div class="post-prw-teaser ">You will be surprised at the flexibility and co...
						</div>
						<div class="btn-wrap mt-2 mt-lg-3">
							<a href="blog.html" class="btn">
								Read More
							</a>
						</div>
					</div>
					<div class="post-prw-vert post-prw-vert--style2 col text-center align-items-center"><a
							href="blog.html" class="post-prw-img image-hover-scale">
							<img data-srcset="/foxic/images/skins/lingeries/blog/blog-02.webp" class="lazyload fade-up" alt="">
						</a>
						<h4 class="h2-style"><a href="blog.html">What is Offered in This Online Store?</a></h4>
						<div class="post-prw-teaser ">You will be surprised at the flexibility and co...
						</div>
						<div class="btn-wrap mt-2 mt-lg-3">
							<a href="blog.html" class="btn">
								Read More
							</a>
						</div>
					</div>
					<div class="post-prw-vert post-prw-vert--style2 col text-center align-items-center"><a
							href="blog.html" class="post-prw-img image-hover-scale">
							<img data-srcset="/foxic/images/skins/lingeries/blog/blog-03.webp" class="lazyload fade-up" alt="">
						</a>
						<h4 class="h2-style"><a href="blog.html">Lingerie is More Than Just a Garment</a></h4>
						<div class="post-prw-teaser ">You will be surprised at the flexibility and co...
						</div>
						<div class="btn-wrap mt-2 mt-lg-3">
							<a href="blog.html" class="btn">
								Read More
							</a>
						</div>
					</div>
					<div class="post-prw-vert post-prw-vert--style2 col text-center align-items-center"><a
							href="blog.html" class="post-prw-img image-hover-scale">
							<img data-srcset="/foxic/images/skins/lingeries/blog/blog-04.webp" class="lazyload fade-up" alt="">
						</a>
						<h4 class="h2-style"><a href="blog.html">You’ll Enjoy The Quality of The Materials Used</a></h4>
						<div class="post-prw-teaser ">You will be surprised at the flexibility and co...
						</div>
						<div class="btn-wrap mt-2 mt-lg-3">
							<a href="blog.html" class="btn">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> --}}
		<div class="holder holder-mt-medium holder-with-bg holder-pt-small holder-pb-small bg-cover lazyloaded"
			style="background-color: #fafafa">
			<div class="container">
				<div class="row vert-margin">
					<div class="col-md col-subscribe-form">
						<div class="subscribe-form text-center">
							<h2 class="h2-style mt-1 mb-3">Bültene Abone ol!</h2>
							<p>İndirimlerden Haberdar Olun.</p>
							<form method="post" action="#" class="contact-form">
								<div class="d-flex flex-nowrap mt-3">
									<div class="form-control-wrap flex-grow-1">
										<input type="email" name="email" required class="form-control form-control--sm"
											value="" placeholder="Mail Adresi"
											style="color: #2e343f; background-color: #ffffff; border-color: #ffffff;">
									</div>
									<button type="submit" class="btn">Abone Ol</button>
								</div>
							</form>
						</div>
						<div class="row justify-content-center align-items-center mt-3 mt-lg-4">
							<div class="col-auto">
								<div class="social-list-title heading-font">Bizi Takip Edin</div>
							</div>
							<div class="col-auto">
								<ul class="social-list">
									<li>
										<a target="_blank" href="mailto:{{webpage.mailAddress}}" title="foxic-theme-demo-2 on Email">
											<i class="icon-email-1"></i>
										</a>
									</li>
									<li>
										<a target="_blank" href="{{webpage.profileFacebook}}" title="foxic-theme-demo-2 on Facebook">
											<i class="icon-facebook"></i>
										</a>
									</li>
									<li>
										<a target="_blank" href="{{webpage.profileTwitter}}" title="foxic-theme-demo-2 on Twitter">
											<i class="icon-twitter"></i>
										</a>
									</li>
									<li>
										<a target="_blank" class="social-icons__link" href="{{webpage.profileYoutube}}"
											title="foxic-theme-demo-2 on YouTube">
											<i class="icon-youtube"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md col-subscribe-form-text">
						<div class="row vert-margin-small">
							<div class="col-md-9">
								<div class="lookbook-bnr-image image-container" style="padding-bottom: 122.727%">
									<img data-srcset="/foxic/images/skins/lingeries/image-lingerie-02.webp"
										class="lazyload fade-up w-100" alt="">
								</div>
							</div>
							<div class="col-md text-center">
								<h2 class="h2-style mt-1 mb-3">Instagram Shop</h2>
								<p>Remember to show off your new purchase on insta by tagging us and get $20 off your
									next order.</p>
								<div class="mt-3 mt-lg-4">
									<a href="https://www.instagram.com/bigstepscenter/" target="_self" class="btn">Shop
										Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>