<div class="page-content">
		<div class="holder mt-0 fullwidth full-nopad">
			<div class="container">
				<div class="bnslider-wrapper">
					<div class="bnslider bnslider--lg keep-scale" id="bnslider-01" data-start-width='1920'
						data-start-height='876' data-start-mwidth='750' data-start-mheight='750'>
						<div class="bnslider-slide bnslider-slide-product-style5">
							<div class="bnslider-image-mobile lazyload fade-up-fast"
								data-bgset="/foxic/images/skins/cosmetics/slider/slide-cosmetics-01-m.webp"></div>
							<div class="bnslider-image lazyload fade-up-fast"
								data-bgset="/foxic/images/skins/cosmetics/slider/slide-cosmetics-01.webp"></div>
							<div class="bnslider-text-wrap bnslider-overlay">
								<div class="bnslider-text-content txt-middle px-15 txt-left">
									<div
										class="bnslider-text-content-flex container text-center align-items-center align-items-sm-start">
										<div class="bnslider-vert pl-lg-5 text-center justify-content-center">
											<div
												class="bnslider-text bnslider-text--price-sale text-center justify-content-center">
												<span class="txt">UP TO<span></span></span>
												<span class="">40%</span>
											</div>
											<div class="bnslider-text bnslider-product-text">BRANDY SALE</div>
											<div class="btn-wrap mt-lg">
												<a href="/" class="btn btn--lg">BUY NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>sections/producs}}
		
		<div class="holder holder-mt-xsmall">
			<div class="container">
				<div class="row bnr-grid vert-margin-small">
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddFirstImageLink}}" class="bnr-wrap">
							<div class="bnr custom-caption image-hover-scale bnr--bottom bnr--left " data-fontratio=5.7>
								<div class="bnr-img  image-container" style="padding-bottom: 145.02%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-srcset="{{webpage.webMainPageAddFirstImage}}"
										class="lazyload fade-up" alt="">
								</div>
								<div class="bnr-caption" style="padding: 11% 13%; width: 100%;">
									<div class="bnr-text3  mt-sm order-1"
										style=" color:#ffffff; font-size:0.85em; font-weight:800; line-height:1em">{{webpage.webMainPageAddFirstImageTopText}}</div>
									<div class="bnr-text3 mt-0 order-2"
										style=" color:#ffffff; font-size:0.85em; font-weight:800; line-height:1em;">{{webpage.webMainPageAddFirstImageMainText}}
									</div>
									<div class="bnr-btn mt-lg order-3">
										<div class="btn">Alışverişe Başla</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddSecondImageLink}}" class="bnr-wrap">
							<div class="bnr custom-caption image-hover-scale bnr--bottom bnr--center "
								data-fontratio=5.7>
								<div class="bnr-img  image-container" style="padding-bottom: 145.02%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-srcset="{{webpage.webMainPageAddSecondImage}}"
										class="lazyload fade-up" alt=""></div>
								<div class="bnr-caption" style="padding: 12% 4%; width: 100%;">
									<div class="bnr-text3 bnr-text-has-bg mt-sm order-1 text-center"
										style="padding: 3% 5%; color:#282828; font-size:0.55em; font-weight:700; line-height:1em">{{webpage.webMainPageAddSecondImageTopText}}<span class="bnr-text-bg"
											style="background:#ffffff;opacity: 1"></span></div>
									<div class="bnr-text3 mt-xs order-2  text-center"
										style=" color:#ffffff; font-size:0.75em; font-weight:700; line-height:1em;">{{webpage.webMainPageAddSecondImageMainText}}</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-18 col-sm-6">
						<a href="{{webpage.webMainPageAddThirdImageLink}}" class="bnr-wrap">
							<div class="bnr custom-caption image-hover-scale bnr--middle bnr--center "
								data-fontratio=5.7>
								<div class="bnr-img  image-container" style="padding-bottom: 145.02%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-srcset="{{webpage.webMainPageAddThirdImage}}"
										class="lazyload fade-up" alt=""></div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-text3 mt-sm order-1"
										style="color:#ffffff; font-size:0.5em; font-weight:600; line-height:1em">{{webpage.webMainPageAddThirdImageTopText}}</div>
									<div class="bnr-text3 bnr-text-has-bg mt-sm order-2 text-center"
										style="padding: 3% 3%; color:#ffffff; font-size:0.5em; font-weight:700; line-height:1em;">{{webpage.webMainPageAddThirdImageMainText}}<span class="bnr-text-bg"
											style="background:#a813ed;opacity: 1"></span></div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="holder">
			<div class="container">
				<div class="title-wrap text-center">
					<h2 class="h-lg-style"><span style="color:#f8357b">SALE</span></h2>
					<div class="carousel-arrows carousel-arrows--center"></div>
				</div>
				<div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
					data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 2, "slidesToScroll": 1}}]}'>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-09-1.webp" alt="Love & Love"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-09-2.webp" alt="Love & Love"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-new"><span>New</span></div>
										<div class="label-sale"><span>-10% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-09-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-09-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-09-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-09-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Love & Love</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 180</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Love & Love", "path":"/foxic/images/skins/cosmetics/products/product-09-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-10-1.webp" alt="Fiona may"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-10-2.webp" alt="Fiona may"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-sale"><span>-60% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-10-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-10-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-10-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-10-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Fiona may</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 80</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Fiona may", "path":"/foxic/images/skins/cosmetics/products/product-10-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-11-1.webp" alt="Color Drops"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-11-2.webp" alt="Color Drops"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-sale"><span>-10% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-11-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-11-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-11-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-11-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Color Drops</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 180</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Color Drops", "path":"/foxic/images/skins/cosmetics/products/product-11-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-12-1.webp"
										alt="Something interesting" class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-12-2.webp"
										alt="Something interesting" class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-sale"><span>-90% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-12-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-12-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-12-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-12-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Something interesting</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 20</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Something interesting", "path":"/foxic/images/skins/cosmetics/products/product-12-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-13-1.webp" alt="Lip Scrub"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-13-2.webp" alt="Lip Scrub"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-new"><span>New</span></div>
										<div class="label-sale"><span>-50% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-13-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-13-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-13-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-13-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Lip Scrub</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 100</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Lip Scrub", "path":"/foxic/images/skins/cosmetics/products/product-13-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-14-1.webp" alt="Break Rules"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-14-2.webp" alt="Break Rules"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-new"><span>New</span></div>
										<div class="label-sale"><span>-40% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-14-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-14-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-14-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-14-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Break Rules</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 220</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Break Rules", "path":"/foxic/images/skins/cosmetics/products/product-14-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-15-1.webp" alt="The Dreamer"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-15-2.webp" alt="The Dreamer"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-new"><span>New</span></div>
										<div class="label-sale"><span>-5% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">The Dreamer</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 190</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "The Dreamer", "path":"/foxic/images/skins/cosmetics/products/product-15-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
						<div class="prd-inside">
							<div class="prd-img-area">
								<a href="product.html" class="prd-img image-container" style="padding-bottom: 100%">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-16-1.webp" alt="Savage Life"
										class="js-prd-img lazyload fade-up">
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/foxic/images/skins/cosmetics/products/product-16-2.webp" alt="Savage Life"
										class="js-prd-img lazyload fade-up">
									<div class="foxic-loader"></div>
									<div class="prd-big-circle-labels">
										<div class="label-sale"><span>-30% <span class="sale-text">Sale</span></span>
											<div class="countdown-circle">
												<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="prd-circle-labels">
									<a href="/"
										class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
										title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
										class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
										title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
									<a href="/" class="circle-label-qview js-prd-quickview prd-hide-mobile"
										data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
											VIEW</span></a>
								</div>
								<ul class="list-options color-swatch">
									<li data-image="/foxic/images/skins/cosmetics/products/product-16-1.webp" class="active"><a
											href="/" class="js-color-toggle" data-toggle="tooltip"
											data-placement="right" title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-16-1.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
									<li data-image="/foxic/images/skins/cosmetics/products/product-16-2.webp"><a href="/"
											class="js-color-toggle" data-toggle="tooltip" data-placement="right"
											title="Color Name"><img
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/skins/cosmetics/products/product-16-2.webp"
												class="lazyload fade-up" alt="Color Name"></a></li>
								</ul>
							</div>
							<div class="prd-info">
								<div class="prd-info-wrap">
									<div class="prd-info-top">
										<div class="prd-tag"><a href="/">FOXic</a></div>
									</div>
									<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i
											class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
									<div class="prd-tag"><a href="/">FOXic</a></div>
									<h2 class="prd-title"><a href="product.html">Savage Life</a></h2>
									<div class="prd-description">
										Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
										torquent per conubia nostra, per inceptos himenaeos. Nam nec ante sed lacinia.
									</div>
								</div>
								<div class="prd-hovers">
									<div class="prd-circle-labels">
										<div><a href="/"
												class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
												title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="/"
												class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
												title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
										<div><a href="/" class="circle-label-qview prd-hide-mobile js-prd-quickview"
												data-src="/foxic/ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
													VIEW</span></a></div>
									</div>
									<div class="prd-price">
										<div class="price-old">$ 200</div>
										<div class="price-new">$ 140</div>
									</div>
									<div class="prd-action">
										<div class="prd-action-left">
											<form action="#">
												<button class="btn js-prd-addtocart"
													data-product='{"name": "Savage Life", "path":"/foxic/images/skins/cosmetics/products/product-16-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
													To Cart</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder holder-mt-medium">
			<div class="container">
				<div class="row vert-margin-small justify-content-md-center">
					<div class="col-lg-9 d-lg-flex flex-lg-column">
						<div class="title-with-arrows">
							<h2>OUR CLIENTS SAY ABOUT US</h2>
							<div class="carousel-arrows"></div>
						</div>
						<div class="testimonials-carousel-wrap">
							<div class="circle_decor_wrap">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
									viewBox="0 0 150 150"
									style="enable-background:new 0 0 150 150; width: 100%; transform: translate(-81%, -69%) rotate(-50deg); opacity: .5"
									xml:space="preserve" class="circle_decor circle_decor--tl">
									<defs>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_r001"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="-3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_r001"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<clipPath id="circle_decor_mask_r001">
											<circle r="73.5" cx="75" cy="75" />
										</clipPath>
									</defs>
									<path fill="#55C1AE"
										d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
									<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25"
										style="filter:url(#dropshadow_1_r001)"
										clip-path="url(#circle_decor_mask_r001)" />
									<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25"
										style="filter:url(#dropshadow_2_r001)"
										clip-path="url(#circle_decor_mask_r001)" />
									<path fill="#55C1AE"
										d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
									<path fill="#55C1AE"
										d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
								</svg>
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
									viewBox="0 0 150 150"
									style="enable-background:new 0 0 150 150; width: 100%; transform: translate(81%, 69%) rotate(-50deg); opacity: .5"
									xml:space="preserve" class="circle_decor circle_decor--br">
									<defs>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_r002"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="-3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_r002"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<clipPath id="circle_decor_mask_r002">
											<circle r="73.5" cx="75" cy="75" />
										</clipPath>
									</defs>
									<path fill="#55C1AE"
										d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
									<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25"
										style="filter:url(#dropshadow_1_r002)"
										clip-path="url(#circle_decor_mask_r002)" />
									<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25"
										style="filter:url(#dropshadow_2_r002)"
										clip-path="url(#circle_decor_mask_r002)" />
									<path fill="#55C1AE"
										d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
									<path fill="#55C1AE"
										d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
								</svg>
							</div>
							<div class="testimonials-carousel js-testimonials-carousel"
								data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 1 }},{"breakpoint": 480,"settings": {"slidesToShow": 1 }}]}'>
								<div class="testimonials-item">
									<div class="row vert-margin">
										<div class="col-sm-5 testimonials-item-photo text-center">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/review-author.webp" alt=""
												class="rounded-circle lazyload fade-up">
										</div>
										<div class="col-sm-13 testimonials-item-text">
											<h3 class="testimonials-item-name">Clifton C. Garrison</h3>
											<p>Very nice theme, with lots of useful customisation options built in.
												Customer support has been excellent, as any small issues, minor bugs or
												even small requests have all been catered for in a quick, professional
												and timely manner. So i would recommend their theme. Plus FOXic is
												fantastic!</p>
										</div>
									</div>
									<div class="testimonials-item-quote">
										<i class="icon-quotes"></i>
									</div>
								</div>
								<div class="testimonials-item">
									<div class="row vert-margin">
										<div class="col-sm-5 testimonials-item-photo text-center">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/foxic/images/review-author-02.webp" alt=""
												class="rounded-circle lazyload fade-up">
										</div>
										<div class="col-sm-13 testimonials-item-text">
											<h3 class="testimonials-item-name">Susan E. Davis</h3>
											<p>They have always fulfilled my requests without any hesitation, responded
												to my emails and helped me develop my online store in the right way.
												Customer support has been excellent. So i would definitely recommend
												their them. Plus their theme is fantastic! Thank you, guys!</p>
										</div>
									</div>
									<div class="testimonials-item-quote">
										<i class="icon-quotes"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<h2 class="h2-style">INSTAGRAM</h2>
						<div class="instagram-grid instagram-grid--sm">
							<div id="instafeed" class="js-instagram-feed" data-tag='bigstepsfoxicCosmetic'
								data-token='IGQVJVck9GeUNxWm9rWmY3c0E1VFNta2lSZAkMwTm8zNTI2RDhTZAG0wbUhNeGhJaGprT2FzUGFWbUtYa2J0SndsVHpxRDI2dktpS2hUdGEzaHhLVnJRNGJNMEdtUHhDbDY2cmdnSGlSRzRwcHhkaWd1UQZDZD'
								data-limit='8'></div>
							<div class="instagram-grid-btn">
								<a href="https://www.instagram.com/bigstepscenter/" target="_self"
									class="btn btn--xxl">Follow Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>