<div class="page-content">
		<div class="holder mt-0 py-15 py-md-6 bgcolor">
			<div class="container">
				<div class="creative-product-carousel-wrap">
					<div class="creative-product-carousel js-creative-product-carousel">
						<div class="creative-product-carousel-item">
							<div class="row flex-nowrap four-in-row">
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-01.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-01-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
										<div class="prd-labels">
											<div class="label-sale"><span>-50%<br>Sale</span></div>
										</div>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Legging Red/Black</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-old">$299</div>
												<div class="price-new">$149</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-select-add-to-cart" data-product='{
												"name": "Legging Red/Black",
												"path":"/foxic/images/products/product-01.webp",
												"url":"product.html",
												"aspect_ratio":0.778,
												"variants":{
													"Red": {
													"name": "Legging Red/Black",
														"variant_name": "Red",
														"aspect_ratio":"0.778",
														"path":"/foxic/images/products/product-01.webp",
														"url":"product.html",
														"price_old":"$299",
														"price_actual":"$149",
														"disabled":true},
													"Mint": {
													"name": "Legging Mint/Black",
														"variant_name": "Mint",
														"aspect_ratio":"0.778",
														 "path":"/foxic/images/products/product-01-1.webp",
														 "url":"product.html",
														 "price_old":"$299",
														 "price_actual":"$139",
														 "disabled":true},
													"Violet": {
													"name": "Legging Violet/Black",
														"variant_name": "Violet",
														"aspect_ratio":"0.778",
														 "path":"/foxic/images/products/product-01-2.webp",
														 "url":"product.html",
														 "price_old":"$299",
														 "price_actual":"$179",
														 "disabled":true},
													"Lime": {
													"name": "Legging Lime/Black",
														"variant_name": "Lime",
														"aspect_ratio":"0.778",
														 "path":"/foxic/images/products/product-01-3.webp",
														 "url":"product.html",
														 "price_old":"$299",
														 "price_actual":"$119",
														 "disabled":true}
													 }
												 }'>Select Options</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-02.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-02-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Leggings Snake print</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$299</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Leggings Snake print", "path":"/foxic/images/products/product-02.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-03.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-03-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Striped Leggings and Top</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$289</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Striped Leggings and Top", "path":"/foxic/images/products/product-03.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-04.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-04-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Fitness Jumpsuit</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$399</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Fitness Jumpsuit", "path":"/foxic/images/products/product-04.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="creative-product-carousel-text">New<br>Arrival</div>
						</div>
						<div class="creative-product-carousel-item">
							<div class="row flex-nowrap four-in-row">
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-05.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-05-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
										<div class="prd-labels">
											<div class="label-sale"><span>-70%<br>Sale</span></div>
										</div>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Fitness Jumpsuit Khaki/Black</a>
										</h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-old">$399</div>
												<div class="price-new">$120</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Fitness Jumpsuit Khaki/Black", "path":"/foxic/images/products/product-05.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-06.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-06-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
										<div class="prd-labels">
											<div class="label-sale"><span>-70%<br>Sale</span></div>
										</div>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Fitness Jumpsuit Camouflage</a>
										</h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-old">$399</div>
												<div class="price-new">$120</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Fitness Jumpsuit Camouflage", "path":"/foxic/images/products/product-06.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-07.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-07-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
										<div class="prd-labels">
											<div class="label-sale"><span>-70%<br>Sale</span></div>
										</div>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Fitness Jumpsuit Black</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-old">$399</div>
												<div class="price-new">$120</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Fitness Jumpsuit Black", "path":"/foxic/images/products/product-07.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-08.webp"
												class="prd-img-first lazyload" alt="">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-08-hover.webp"
												class="prd-img-first lazyload" alt="">
										</a>
										<div class="prd-labels">
											<div class="label-sale"><span>-50%<br>Sale</span></div>
										</div>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Fitness Jumpsuit Blue with black
												accents</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-old">$399</div>
												<div class="price-new">$199</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Fitness Jumpsuit Blue with black accents", "path":"/foxic/images/products/product-08.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="creative-product-carousel-text">Sale<br>Limited</div>
						</div>
						<div class="creative-product-carousel-item">
							<div class="row flex-nowrap four-in-row">
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-09.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">T-shirt Black</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$117</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "T-shirt Black", "path":"/foxic/images/products/product-09.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-10.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Sport Shirt Black</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$87</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Sport Shirt Black", "path":"/foxic/images/products/product-10.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-11.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">T-shirt White</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$97</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "T-shirt Whit", "path":"/foxic/images/products/product-11.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="prd-img-area">
										<a href="product.html" class="prd-img prd-img--noequal">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="/foxic/images/products/product-category-12.webp"
												class="prd-img-first lazyload" alt="">
										</a>
									</div>
									<div class="prd-info">
										<h2 class="prd-title"><a href="product.html">Full Zipper Hoodies</a></h2>
										<div class="creative-product-carousel-hovers">
											<div class="creative-product-carousel-price">
												<div class="price-new">$239</div>
											</div>
											<div class="creative-product-carousel-action">
												<form action="#">
													<button class="btn js-prd-addtocart"
														data-product='{"name": "Full Zipper Hoodies", "path":"/foxic/images/products/product-12.webp", "url":"product.html", "aspect_ratio":0.778}'>Add
														To Cart</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="creative-product-carousel-text">For Men</div>
						</div>
					</div>
					<div class="collection-grid-1 collection-grid-1-vertical js-creative-product-carousel-tabs">
						<div class="collection-grid-1-item js-collection-grid-nav active">
							<a href="/" class="collection-grid-1-item-inside" title="Category Name">
								<i class="icon-shopping"></i>
							</a>
						</div>
						<div class="collection-grid-1-item js-collection-grid-nav">
							<a href="/" class="collection-grid-1-item-inside" title="Category Name">
								<i class="icon-tag"></i>
							</a>
						</div>
						<div class="collection-grid-1-item js-collection-grid-nav">
							<a href="/" class="collection-grid-1-item-inside" title="Category Name">
								<i class="icon-fashion"></i>
							</a>
						</div>
						<div class="collection-grid-1-item">
							<a href="/" class="collection-grid-1-item-inside" title="Category Name">
								Hepsini Gör ...
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="holder @classes">
			<div class="container">
				<div class="row bnr-grid vert-margin justify-content-md-center">
					<div class="col-sm">
						<a href="{{webpageGeneral.webMainPageAddFirstImageLink}}" class="bnr image-hover-scale bnr--bottom bnr-left" data-fontratio="5.695">
							<div class="bnr-img image-container" style="padding-bottom: 121.3%"><img
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="{{webpageGeneral.webMainPageAddFirstImage}}" class="lazyload fade-up" alt="">
							</div>
							<div class="bnr-caption">
								<div class="bnr-text2">{{webpageGeneral.webMainPageAddFirstImageTopText}}</div>
								<div class="bnr-text3">{{webpageGeneral.webMainPageAddFirstImageMainText}}</div>
							</div>
						</a>
					</div>
					<div class="col-sm">
						<a href="{{webpageGeneral.webMainPageAddSecondImageLink}}" class="bnr image-hover-scale bnr--middle bnr--center" data-fontratio="5.695">
							<div class="bnr-img image-container" style="padding-bottom: 121.3%">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="{{webpageGeneral.webMainPageAddSecondImage}}" class="lazyload fade-up" alt="">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
									viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; "
									xml:space="preserve" class="circle_decor circle_decor--tr">
									<defs>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_b01"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="-3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_b01"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<clipPath id="circle_decor_mask_b01">
											<circle r="73.5" cx="75" cy="75" />
										</clipPath>
									</defs>
									<path fill="#55C1AE"
										d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
									<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25"
										style="filter:url(#dropshadow_1_b01)" clip-path="url(#circle_decor_mask_b01)" />
									<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25"
										style="filter:url(#dropshadow_2_b01)" clip-path="url(#circle_decor_mask_b01)" />
									<path fill="#55C1AE"
										d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
									<path fill="#55C1AE"
										d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
								</svg>
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
									viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; "
									xml:space="preserve" class="circle_decor circle_decor--bl">
									<defs>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_b02"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="-3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_b02"
											filterUnits="userSpaceOnUse">
											<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
											<feOffset dx="3" dy="0" result="offsetblur" />
											<feMerge>
												<feMergeNode />
												<feMergeNode in="SourceGraphic" />
												<feMergeNode in="SourceGraphic" />
											</feMerge>
										</filter>
										<clipPath id="circle_decor_mask_b02">
											<circle r="73.5" cx="75" cy="75" />
										</clipPath>
									</defs>
									<path fill="#55C1AE"
										d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
									<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25"
										style="filter:url(#dropshadow_1_b02)" clip-path="url(#circle_decor_mask_b02)" />
									<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25"
										style="filter:url(#dropshadow_2_b02)" clip-path="url(#circle_decor_mask_b02)" />
									<path fill="#55C1AE"
										d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
									<path fill="#55C1AE"
										d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
								</svg>
							</div>
							<div class="bnr-caption">
								<div class="bnr-text4">{{webpageGeneral.webMainPageAddSecondImageMainText}}</div>
								<div class="bnr-text5 text-right">{{webpageGeneral.webMainPageAddSecondImageTopText}}</div>
							</div>
						</a>
					</div>
					<div class="col-sm">
						<a href="{{webpageGeneral.webMainPageAddThirdImageLink}}" class="bnr image-hover-scale bnr--bottom bnr--left" data-fontratio="5.695">
							<div class="bnr-img image-container" style="padding-bottom: 121.3%">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="{{webpageGeneral.webMainPageAddThirdImage}}" class="lazyload fade-up" alt="">
							</div>
							<div class="bnr-caption">
								<div class="bnr-text2">{{webpageGeneral.webMainPageAddThirdImageTopText}}</div>
								<div class="bnr-text3"><span>{{webpageGeneral.webMainPageAddThirdImageMainText}}</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		{{>sections/producs}}

		<div class="holder holder-subscribe-full lazyload">
			<div class="circle_decor_wrap">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 150 150"
					style="enable-background:new 0 0 150 150; " xml:space="preserve"
					class="circle_decor circle_decor--tl">
					<defs>
						<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_003"
							filterUnits="userSpaceOnUse">
							<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
							<feOffset dx="-3" dy="0" result="offsetblur" />
							<feMerge>
								<feMergeNode />
								<feMergeNode in="SourceGraphic" />
								<feMergeNode in="SourceGraphic" />
							</feMerge>
						</filter>
						<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_003"
							filterUnits="userSpaceOnUse">
							<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
							<feOffset dx="3" dy="0" result="offsetblur" />
							<feMerge>
								<feMergeNode />
								<feMergeNode in="SourceGraphic" />
								<feMergeNode in="SourceGraphic" />
							</feMerge>
						</filter>
						<clipPath id="circle_decor_mask_003">
							<circle r="73.5" cx="75" cy="75" />
						</clipPath>
					</defs>
					<path fill="#55C1AE"
						d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
					<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_003)"
						clip-path="url(#circle_decor_mask_003)" />
					<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_003)"
						clip-path="url(#circle_decor_mask_003)" />
					<path fill="#55C1AE"
						d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
					<path fill="#55C1AE"
						d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
				</svg>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 150 150"
					style="enable-background:new 0 0 150 150; " xml:space="preserve"
					class="circle_decor circle_decor--br">
					<defs>
						<filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_004"
							filterUnits="userSpaceOnUse">
							<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
							<feOffset dx="-3" dy="0" result="offsetblur" />
							<feMerge>
								<feMergeNode />
								<feMergeNode in="SourceGraphic" />
								<feMergeNode in="SourceGraphic" />
							</feMerge>
						</filter>
						<filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_004"
							filterUnits="userSpaceOnUse">
							<feGaussianBlur in="SourceAlpha" stdDeviation="2" />
							<feOffset dx="3" dy="0" result="offsetblur" />
							<feMerge>
								<feMergeNode />
								<feMergeNode in="SourceGraphic" />
								<feMergeNode in="SourceGraphic" />
							</feMerge>
						</filter>
						<clipPath id="circle_decor_mask_004">
							<circle r="73.5" cx="75" cy="75" />
						</clipPath>
					</defs>
					<path fill="#55C1AE"
						d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z" />
					<circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_004)"
						clip-path="url(#circle_decor_mask_004)" />
					<circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_004)"
						clip-path="url(#circle_decor_mask_004)" />
					<path fill="#55C1AE"
						d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z" />
					<path fill="#55C1AE"
						d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z" />
				</svg>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-auto">
						<div class="subscribe-form-title-lg">Promosyonlar</div>
						<div class="subscribe-form-title-sm">Bültene abone ol, bildirimlerden anında haberdar ol!</div>
					</div>
					<div class="col">
						<div class="subscribe-form">
							<form action="#">
								<div class="form-inline">
									<div class="form-control-wrap">
										<input type="text" class="form-control" placeholder="Mail adresinizi girin.">
										<svg preserveAspectRatio="none">
											<rect x="2" y="2" rx="6" height="100%" width="100%"></rect>
										</svg>
										<span class="bottom"></span>
									</div>
									<button type="submit" class="btn btn--lg">Abone Ol</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>