<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Siparişler</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Siparişler</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="bx bx-search-alt search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    {{!-- <div class="text-sm-end">
                                        <button type="button"
                                            class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i
                                                class="mdi mdi-plus me-1"></i> Add New Order</button>
                                    </div> --}}
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-check">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 20px;" class="align-middle">
                                                <div class="form-check font-size-16">
                                                    <input class="form-check-input" type="checkbox" id="checkAll">
                                                    <label class="form-check-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th class="align-middle">Sipariş Numarası</th>
                                            <th class="align-middle">Müşteri Adı</th>
                                            <th class="align-middle">Tarih</th>
                                            <th class="align-middle">Toplam</th>
                                            <th class="align-middle">Sipariş Durumu</th>
                                            <th class="align-middle">Ödeme Tercihi</th>
                                            <th class="align-middle">Detayı Gör</th>
                                            <th class="align-middle">Aksiyon</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each order}}
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16">
                                                    <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                    <label class="form-check-label" for="orderidcheck01"></label>
                                                </div>
                                            </td>
                                            <td><a href="javascript: void(0);" class="text-body fw-bold">{{@index}}</a>
                                            </td>
                                            <td>{{orderName}} {{orderSurName}}</td>
                                            <td>
                                                {{moment date}}
                                            </td>
                                            <td>
                                                ₺{{orderPrice}}
                                            </td>
                                            <td>
                                                <span class="badge badge-pill {{#if (eq orderStatus "Siparişiniz Alındı")}} badge-soft-danger {{else if (eq orderStatus "Siparişiniz Hazırlanıyor")}} badge-soft-warning {{else}} badge-soft-success {{/if}}  font-size-12">{{orderStatus}}</span>
                                            </td>
                                            <td>
                                                <i class="fab fa-cc-mastercard me-1"></i> {{orderPayment}}
                                            </td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                                    data-bs-toggle="modal" data-bs-target=".orderdetailsModal{{_id}}">
                                                    Detayı Gör
                                                </button>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="javascript:void(0);" class="text-success"><i
                                                            class="mdi mdi-pencil font-size-18"></i></a>
                                                    <a href="javascript:void(0);" class="text-danger"><i
                                                            class="mdi mdi-delete font-size-18"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <!-- Modal -->
    {{#each order}}
    <div class="modal fade orderdetailsModal{{_id}}" tabindex="-1" role="dialog"
        aria-labelledby="orderdetailsModal{{_id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderdetailsModal{{_id}}Label">Sipariş Detayları</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Sipariş no: <span class="text-primary">{{@index}} </span></p>
                    <p class="mb-3">Müşteri Adı: <span class="text-primary">{{orderName}} {{orderSurName}} </span></p>
                    <p class="mb-3">Adres 1: <span class="text-primary">{{orderAddress}} </span></p>
                    <p class="mb-3">Adres 2: <span class="text-primary">{{orderApartment}} </span></p>
                    <p class="mb-3">Şehir: <span class="text-primary">{{orderCity}} </span></p>
                    <p class="mb-3">İlçe: <span class="text-primary">{{orderHood}} </span></p>
                    <p class="mb-3">Posta Kodu: <span class="text-primary">{{orderPostCode}} </span></p>
                    <p class="mb-3">Müşteri Telefon No: <span class="text-primary">{{orderPhone}} </span></p>
                    <p class="mb-3">Müşteri E-Postası: <span class="text-primary">{{orderMail}} </span></p>
                    <p class="mb-3">Müşteri Notu: <span class="text-primary">{{#if orderNote}} {{orderNote}} {{else}}
                            <span class="text-danger">Müşteri not yazmadı.</span> {{/if}} </span></p>
                    <div class="modal-footer">
                        <form class="row" action="/admin/orderChange/{{_id}}?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="mb-3 col-md-6">
                                <p for="orderTrackNumber">Kargo Takip Numarası</p>
                                <input id="orderTrackNumber" name="orderTrackNumber" value="{{orderTrackNumber}}" type="text" class="form-control "
                                    placeholder="Kargo Numarası">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Sipariş Durumu</label>
                                <div class="mt-2">
                                    <select name="orderStatus" class="form-select">
                                        <option {{#if (eq orderStatus "Siparişiniz Alındı" )}} selected {{/if}} value="Siparişiniz Alındı">
                                            Siparişiniz Alındı</option>
                                        <option {{#if (eq orderStatus "Siparişiniz Hazırlanıyor" )}} selected {{/if}}
                                            value="Siparişiniz Hazırlanıyor">Siparişiniz Hazırlanıyor</option>
                                        <option {{#if (eq orderStatus "Siparişiniz Kargoda" )}} selected {{/if}} value="Siparişiniz Kargoda">
                                            Siparişiniz Kargoda</option>
                                        <option {{#if (eq orderStatus "Siparişiniz Teslim Edildi" )}} selected {{/if}} value="Siparişiniz Teslim Edildi">
                                            Siparişiniz Teslim Edildi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                            </div>

                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün</th>
                                    <th scope="col">Ürün adı</th>
                                    <th scope="col">Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each items}}
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <img src="{{productName.image.[0]}}" alt="" class="avatar-sm">
                                        </div>
                                    </th>
                                    <td>
                                        <div>
                                            <h5 class="text-truncate font-size-14">{{productName.productName}}</h5>
                                            <p class="text-muted mb-0">₺{{productName.newPrice}} x {{quantity}}</p>
                                        </div>
                                    </td>
                                    <td>₺{{productName.newPrice}}</td>
                                </tr>
                                {{/each}}

                                {{!-- <tr>
                                    <td colspan="2">
                                        <h6 class="m-0 text-right">Sub Total:</h6>
                                    </td>
                                    <td>
                                        ₺400
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h6 class="m-0 text-right">Shipping:</h6>
                                    </td>
                                    <td>
                                        Free
                                    </td>
                                </tr> --}}
                                <tr>
                                    <td colspan="2">
                                        <h6 class="m-0 text-right">Toplam:</h6>
                                    </td>
                                    <td>
                                        ₺{{orderPrice}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- end modal -->


</div>